<!DOCTYPE html>
<html>
<head>
	<title>Jo's Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="/js/config.js"></script>
	<script type="text/javascript" src="/js/monitor.js" async defer></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
	<div class="all">
		<div class="container">
			<div class="panel left server-info">
				<div class="server-title"></div>
				<div class="uptime"></div>
				<div id="ips"></div>
				<div class="dev-stats"></div>
			</div>
			<div class="panel right">
				<div class="row">
					<div id="disk"></div>
				</div>
				<div class="row">
					<div id="cpus">
						<div id="global_cpu"></div>
					</div>
				</div>

				<div class="row">
					<div id="ram"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
